.border-box {
    border: 1rem;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    border-color: black;
    padding: 1em;
    margin:1em
}
body {
    background-color: yellow;
    
}